# Top-level key, which contains configurations for all app containers.
applications:
  # The app's name, which must be unique within the project.
  myapp:
    # The language and version for your app.
    type: 'nodejs:24'

    # The app's configuration when it's exposed to the web.
    web:
      commands:
        start: sleep 9000
      locations:
        '/':
          # The public directory relative to the app root.
          root: 'public'
          # Forward resources to the app.
          passthru: true
          # What files to use when serving a directory.
          index: ["index.html"]
          # Allow files even without specified rules.
          allow: true
